.mainhdg{
    padding: 10px 16px;
    font-size: 29px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #9cbee9; 
    z-index: 10;
    
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 10;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Century Gothic", sans-serif;
    transition: 0.2s;
}

/*NAVIGATION LIST*/
a{
    color: #fff;
    text-decoration: none;
}
.navlist{
    width: 100%;
    padding: 5px 10vw;
    position: fixed;
    background: rgb(19 36 94 / 69%);
    z-index: 10;
}
.navlist ul{
    display: flex;
    list-style: none;
}
.navlist ul li:first-child{
    flex: 1;
}
.navlist ul h4 {
    font-family: serif;
    color: #fff;
}
.navlist ul a{
    margin-left: 20px;
    font-size: 15px;
}
.navlist ul a:hover{
    color: rgb(255, 136, 0);
}

/*DROPDOWN*/
.dd__menu {
    display: none;
    background: rgba(181, 181, 153, 0.692);
    text-align: center;
}
.navlist ul li:hover .dd__menu ul {
    display: block;
    margin: 10px;
}
.navlist ul li:hover .dd__menu ul li {
    width: 140px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    text-align: left;
}
.navlist ul li:hover .dd__menu{
     display: block;
     position: absolute;
     margin-top: 15px;
     margin-left: -15px;
}

/*MIDDLE CONTAINER*/
.container{
    width: 100%;
    height: 80vh;
    padding-top: 25vh;
    background-image: linear-gradient(#000000c3, #000000c3), url(../College\ Website/Images/Bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}
.container h1{
    font-size: 35px;
    font-family: serif;
    margin-bottom: 20px;
}
.container p{
    font-size: 10px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

/*FACILITIES*/
.content-box {
    width: 80%;
    margin: auto;
}
.content-box>h2{
    text-align: center;
    color: #f80;
    margin: 20px;
}
.content-box>h2::before, .content-box>h2::after {
    content: "------";
    letter-spacing: -5px;
    margin: 0 10px;
}
.content-box .row{
    display: flex;
    justify-content: space-between;
}
.content-box .column{
    width: 32%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.content-box img{
    width: 100%;
    height: auto;
}
.content-box .column a:last-child{
    position: absolute;
    width: 100%;
    height: 0;
    top: 100%;
    left: 0;
    bottom: 0;
    background: #ff8800c3;
    text-align: center;
    line-height: 18vw;
    font-size: 2vw;
}
.content-box .column:hover a:last-child{
    height: 100%;
    top: 0;
}

/*HOME*/
.home {
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.home>h1{
    text-align: center;
    color: #f80;
    margin: 20px;
}
.home>h2{
    text-align: center;
    color: #f80;
    margin: 20px;
}
.home>h2::before, .home>h2::after{
    content: "------";
    letter-spacing: -5px;
    margin: 0 10px;
}
.home p{
    color:slategray;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/*FOOTER*/
.foot{
    background-color: black;
    color: white;
    padding-top: -5px;
}

/*VISITOR COUNTER*/
.website-counter {
    background-color: #ff4957;
    height: 50px;
    width: 80px;
    color: white;
    border-radius: 30px;
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
